.button {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.15s ease-in-out;

  &:hover:not(&:disabled) {
    background: var(--Chocolate06, #493b3b);
  }

  &:active:not(&:disabled) {
    background: var(--Chocolate05, #5a4949);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
  /* color */
  &.chocolate {
    --button-primary: var(--chocolate07, #3d3131);
    --button-secondary: var(--white, #fff);
  }

  /* variant */

  &.contained,
  &.outlined {
    width: 100%;
    padding: 0.75rem 0.5rem;
    border-radius: 0.5rem;

    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%; /* 1rem */
    letter-spacing: -0.02rem;
  }

  &.contained {
    background-color: var(--button-primary);
    color: var(--button-secondary);
  }

  &.outlined {
    background-color: var(--button-secondary);
    color: var(--button-primary);
    border: 1px solid var(--button-primary);
  }

  &.icon {
    background-color: var(--button-primary);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}
