.wrapper {
  position: relative;
  width: 8rem;
  height: 2.4rem;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cnt {
  color: theme(colors.milkChocolate);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  transform: translateY(0.12rem);
}

.btn {
  --button-margin: 0.4rem;
  cursor: pointer;

  &.minus {
    margin-left: var(--button-margin);
  }
  &.plus {
    margin-right: var(--button-margin);
  }
}
