@import "@/styles/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Pretendard-Regular, system-ui, sans-serif;
  }
}

:root {
  /* https://tailwindcss.com/docs/adding-custom-styles#resolving-ambiguities */
  --global-min-width: 22.5rem;
  --global-max-width: 31.25rem;
  --global-navigation-height: 3.125rem;
  --default-main-padding: 2rem 1rem;
}

body {
  min-width: var(--global-min-width);
  max-width: var(--global-max-width);
  margin: auto;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.main {
  position: relative;
  padding: var(--default-main-padding);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
