@import '@/styles/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Pretendard-Regular, system-ui, sans-serif;
  }
}

:root {
  /* https://tailwindcss.com/docs/adding-custom-styles#resolving-ambiguities */
  --global-min-width: 22.5rem;
  --global-max-width: 31.25rem;
  --global-navigation-height: 3.125rem;
  --default-main-padding: 2rem 1rem;

  --nav-z-index: 1000;

  /* colors */
  --chocolate07: #3d3131;

  --chocolate07: #3d3131;
  --Chocolate06: #493b3b;
  --Chocolate05: #5a4949;
  --milk-chocolate: #655049;
}

body {
  min-width: var(--global-min-width);
  max-width: var(--global-max-width);
  margin: auto;
  transform: translate3d(0, 0, 0);

  overflow: hidden;
  scroll-behavior: smooth;
}

.main {
  overflow-x: hidden;
  overflow-y: auto;
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  height: 100vh;
  padding: var(--global-navigation-height) var(--default-main-padding);
}
