@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-min-width: 360px;
  --global-max-width: 500px;
  --default-padding: 16px 32px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  min-width: var(--global-min-width);
  max-width: var(--global-max-width);
  height: 100vh;
  margin: auto;
  padding: var(--default-padding);
}
