.visible {
  display: block;
}

.hidden {
  display: none;
}

.tooltip {
  position: relative;
  box-sizing: border-box;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.5rem 0.75rem;

  background-color: #5e4942;
  color: white;

  &:after {
    position: absolute;
    content: '';

    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-top-color: #5e4942;

    position: absolute;
    top: calc(100% - 0.1rem);
    left: 50%;
    transform: translateX(-50%);
  }
}
