.common {
  color: theme(colors.chocolate07);
}

.sans {
  font-family: theme(fontFamily.sans);

  &.md {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 100%; /* 1.125rem */
    letter-spacing: -0.045rem;
  }

  &.ml {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 100%; /* 1.5rem */
    letter-spacing: -0.06rem;
  }

  &.lg {
    font-size: 2rem;
    font-weight: 400;
    line-height: 103.8%; /* 2.076rem */
  }

  &.xl {
    font-size: 3.625rem;
    font-weight: 400;
    line-height: 103.8%; /* 2.076rem */
  }
}

.uhbee {
  font-family: theme(fontFamily.uhbee);

  &.md {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 100%; /* 1.125rem */
    letter-spacing: -0.045rem;
  }

  &.lg {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%; /* 1.5rem */
    letter-spacing: -0.06rem;
  }
}

.uhbee-seulvely {
  font-family: theme(fontFamily.uhBeeSeulvely);

  &.md {
    font-size: 1rem;
    font-weight: 400;
    line-height: 100%; /* 1rem */
    letter-spacing: 0.05rem;
  }

  &.lg {
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%; /* 2rem */
    letter-spacing: 0.1rem;
  }
}
